<div class="row uzm-categories-menu">
	<div class="col s6 m6 l2">
		<a class="waves-effect waves-light btn z-depth-0 cyan cyan-text text-lighten-5 disabled">
			<i class="material-icons hide-on-small-only">all_inclusive</i>
			HEPSİ
		</a>
	</div>

	<div class="col s6 m6 l2">
		<a class="waves-effect waves-light btn z-depth-0 cyan cyan-text text-lighten-5">
			<i class="material-icons hide-on-small-only">music_note</i>
			EĞLENCE
		</a>
	</div>

	<div class="col s6 m6 l2">
		<a class="waves-effect waves-light btn z-depth-0 cyan cyan-text text-lighten-5">
			<i class="material-icons hide-on-small-only">favorite</i>
			SAĞLIK
		</a>
	</div>

	<div class="col s6 m6 l2">
		<a class="waves-effect waves-light btn z-depth-0 cyan cyan-text text-lighten-5">
			<i class="material-icons hide-on-small-only">nature_people</i>
			DOĞA
		</a>
	</div>

	<div class="col s6 m6 l2">
		<a class="waves-effect waves-light btn z-depth-0 cyan cyan-text text-lighten-5">
			<i class="material-icons hide-on-small-only">local_library</i>
			KÜLTÜR
		</a>
	</div>

	<div class="col s6 m6 l2">
		<a class="waves-effect waves-light btn z-depth-0 cyan cyan-text text-lighten-5">
			<i class="material-icons hide-on-small-only">record_voice_over</i>
			KONFERANS
		</a>
	</div>
</div>