<div class="row uzm-categories-menu">
	<div class="col s12 m2">
		<a class="waves-effect waves-light btn z-depth-0 grey lighten-1 disabled">
			<i class="material-icons">all_inclusive</i>
			HEPSİ
		</a>
	</div>

	<div class="col s12 m2">
		<a class="waves-effect waves-light btn z-depth-0 cyan">
			<i class="material-icons">music_note</i>
			EĞLENCE
		</a>
	</div>

	<div class="col s12 m2">
		<a class="waves-effect waves-light btn z-depth-0 cyan">
			<i class="material-icons">favorite</i>
			SAĞLIK
		</a>
	</div>

	<div class="col s12 m2">
		<a class="waves-effect waves-light btn z-depth-0 cyan">
			<i class="material-icons">nature_people</i>
			DOĞA
		</a>
	</div>

	<div class="col s12 m2">
		<a class="waves-effect waves-light btn z-depth-0 cyan">
			<i class="material-icons">local_library</i>
			KÜLTÜR
		</a>
	</div>

	<div class="col s12 m2">
		<a class="waves-effect waves-light btn z-depth-0 cyan">
			<i class="material-icons">record_voice_over</i>
			KONFERANS
		</a>
	</div>
</div>