<div class="card grey white uzm-course-card">
	<div class="card-image waves-effect waves-block waves-light">
		<img class="activator" src="http://lorempixel.com/500/250/">
	</div>

	<div class="card-content">
		<span class="card-title">Fotoğrafçılık Kursu</span>
		<p>Vestibulum laoreet nunc at turpis egestas tincidunt. Integer pulvinar bibendum nisl egestas fringilla. Nunc maximus dolor lacus, sit amet suscipit leo viverra sit amet.</p>

		<ul class="collection uzm-course-features">
			<li class="collection-item"><i class="material-icons left">chevron_right</i> Morbi vel molestie nisi</li>
			<li class="collection-item"><i class="material-icons left">chevron_right</i> Vestibulum laoreet nunc at turpis egestas tincidunt</li>
			<li class="collection-item"><i class="material-icons left">chevron_right</i> Aenean fringilla mi vel leo sodales</li>
			<li class="collection-item"><i class="material-icons left">chevron_right</i> Pellentesque id risus imperdiet</li>
		</ul>
		<div class="center">
			<span class="uzm-course-price">₺750,00</span>
			@@include('./buynow-button.html')
		</div>
	</div>
</div>