<span class="card-title">Fotoğrafçılık Kursu</span>
<p>Vestibulum laoreet nunc at turpis egestas tincidunt. Integer pulvinar bibendum nisl egestas fringilla. Nunc maximus dolor lacus, sit amet suscipit leo viverra sit amet.</p>

<ul class="collection uzm-features">
	<li class="collection-item transparent"><i class="material-icons left">chevron_right</i> Morbi vel molestie nisi</li>
	<li class="collection-item transparent"><i class="material-icons left">chevron_right</i> Vestibulum laoreet nunc at turpis egestas tincidunt</li>
	<li class="collection-item transparent"><i class="material-icons left">chevron_right</i> Aenean fringilla mi vel leo sodales</li>
	<li class="collection-item transparent"><i class="material-icons left">chevron_right</i> Pellentesque id risus imperdiet</li>
</ul>