<div class="row center">
	<div class="col s12">
		<h3>Hello World!</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id aliquet libero. Etiam scelerisque sodales est, sit amet pellentesque libero facilisis id. Fusce sed lectus rhoncus, bibendum ante tristique, convallis leo. Aenean sit amet condimentum sapien. Curabitur congue, est vitae aliquam egestas, est turpis finibus nibh, vitae gravida arcu turpis a quam. Nullam eget consequat nunc. Nam nec augue in nibh rhoncus vulputate non non sapien.
		</p>
	</div>
</div>