<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper white">
			<ul class="left hide-on-large-only">
				<li><a href="#" data-activates="slide-out" class="muhittin grey-text text-darken-3"><i class="material-icons">menu</i></a></li>
			</ul>
			<a href="/" class="brand-logo center"><img src="cdn/images/logo.png" class="responsive-img" /></a>
			<ul class="right hide-on-med-and-down">
				<li>
					<a href="#" class="grey-text text-darken-3">
						<i class="material-icons left">account_circle</i>
						Abdullah Dağlı
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>