.input-field {
	label {
		color: #000;
	}

	input[type=text]:focus + label {
		color: #000;
	}

	input[type=text]:focus {
		border-bottom: 1px solid #000;
		box-shadow: 0 1px 0 0 #000;
	}

	input[type=text].valid {
		border-bottom: 1px solid #000;
		box-shadow: 0 1px 0 0 #000;
	}

	input[type=text].invalid {
		border-bottom: 1px solid #000;
		box-shadow: 0 1px 0 0 #000;
	}

	.prefix.active {
		color: #000;
	}

}

.uzm-course-card {
	.card-image {
		img {
			filter: grayscale(75%) brightness(100%);
		}
	}

	.uzm-course-price {
		display: block;
		font-size: 30px;
		font-weight: 300;
		margin: 20px;
	}

	.uzm-course-features {
		margin-top: 30px;
	}
}

.uzm-course-payment {
	& > .col {
		padding: 0;

		& > .card {
			margin: 0;
		}
	}

	.uzm-course-price {
		display: block;
		font-size: 30px;
		font-weight: 300;
		margin: 20px;
	}

	.collection, .collection-item {
		border-color: #4fc3f7;
	}
}

.uzm-categories-menu {
	.col {
		a {
			display: block;
			height: auto;
			padding-top: 20px;
			padding-bottom: 20px;

			i {
				font-size: 50px;
				line-height: 50px;
				display: block;
				text-align: center;
				margin: auto;
			}
		}
	}
	
}